html {
    scroll-behavior: smooth;
}

body {
    /* background-color: #ececec; */
    font-size: 18px;
    font-family: Khula, 'Times New Roman', sans-serif;
    margin: 0;
    padding: 0; 
    background-color: #F1FCFC;
}

h1 {
    font-size: 40px;
    font-family: 'Times New Roman', sans-serif;
    margin: 10px;
    line-height: 1;
    text-align: center;
    color: #633a82;
    background-size: 100%;
    background-repeat: no-repeat;
    /* background-attachment: fixed;
    background-position: center;
    background-size: cover; */
    padding: 40px;

}

h2{
    font-size: 25px;
    font-family: Khula,'Times New Roman', sans-serif;
    margin: 20px 10px 0;
    color: #633a82;
    text-align: left;
}


p{
    text-align: center;
    padding: 25px;
    margin: 40px;
    color: #010a43;
}

a{
    text-decoration: none;
    color: #72b5b7;
}

.skip a{
    /*“skip to content” link is hidden until in focus */
    background: white;
    left: 0;
    padding: 6px;
    position: absolute; /*position relative to the parent*/
    /*'skip to content' link is placed 40px higher unless focused by user*/
    top: -40px;     
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
}

.skip a:focus{
    /*'skip to content' link should be positioned at the top. */
    top:0;
}  

nav ul{
    list-style-type: none;
}

nav li{
    padding-right: 20px;
    display: inline-block;
}

.nav{
    /* text-align: center; */
    background-color: white;
}

nav a{
    /* color of the list links in nav bar */
    color: #633a82;
}

nav a:hover{
    text-decoration: underline;
}

nav .current{
    color: #633a82;
}

/* section for container elements */
.container{
    display: grid;
    justify-self: center;
    align-self: center;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto auto auto auto auto;
    grid-column-gap: 0;
    width: 100vw;
}

.mobile_nav{
    display: none;
}

.desktop_nav {
    display:block;
    grid-column: 1/ -1;
    grid-row: 1/ span 1;
    text-align: right;
    font-size: 22px;
    padding: 20px;
    padding-top: 40px;
}

/* about section */
#about-header{
    font-size: 30px;
    margin-left: 20px;
}

.about-me{
    background-color: white;
    font-size: 25px;
    padding: 65px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
    margin: 40px;
}

.about{
    grid-column: 1/span 2;
}

.education{
    background-color: white;
    /* display: block; */
    padding: 25px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
    margin: 15px;
    grid-column: 1/span 1;
    grid-row: 2/3;
}

.education h2{
    padding-bottom: 5px;
}
.education p {
    padding: 0;
    margin: 0;
    margin-top: 10px;
    text-align: left;
}

/* writing samples portion of page */

.samples-gallery{
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-align: start;
  align-items: flex-start;
  -webkit-box-pack: center;
  justify-content: center;
  min-height: 500px;
}

.copy-that, .yellow-bird, .musicars, .mazda{
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  margin: 10px;
  width: 300px;
  background-color: white;
}

.samples-gallery h3, .copy-that h3, .yellow-bird h3, .musicars h3, .mazda h3{
    margin: 15px;
    color: #72b5b7;
}

#copy-article, #yellow-bird, #musicars-article, #mazda-kai{
    width: 100%;
}

/* resume section of website */

.resume{
    font-size: 24px;
    margin: 12px 0;
    text-align: center;
}

.button{
    background-color: white;
    border: none;
    color: #633a82;
    text-align: center;
    display: table;
    font-size: 22px;
    box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    margin: auto;
    padding: 20px;
    border-radius: 10%;
}

.button_class{
    display: inline-block;
}


footer {
    color: #633a82;
    font-size: 16px;
    text-align: center;
    grid-column: 1/-1;
}

footer p {
    padding: 10px;
}

footer h4{
    color: #633a82;
}

